pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Collect_Table_Names",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_schema": "dbo",
						"param_tables": "Dim%"
					}
				}
			},
			{
				"name": "Execute Pipeline2",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Collect_Table_Names",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_schema": "dbo",
						"param_tables": "Fact%"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_return_value_string",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.pl_return_value_string",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_return_value_int",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.pl_return_value_int",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_return_value_array",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.pl_return_value_array",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OutDimTables",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.param_array",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('OutDimTables')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"OutDimTables": {
				"type": "Array",
				"defaultValue": []
			},
			"OutFactTables": {
				"type": "Array",
				"defaultValue": []
			},
			"pl_return_value_string": {
				"type": "String"
			},
			"pl_return_value_int": {
				"type": "Integer"
			},
			"pl_return_value_array": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}