pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Collect_Table_Names",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_schema": "dbo",
						"param_tables": "Dim%"
					}
				}
			},
			{
				"name": "Execute Pipeline2",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Collect_Table_Names",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_schema": "dbo",
						"param_tables": "Fact%"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OutDimTables",
					"value": {
						"value": "@activity('Execute Pipeline1').output.content",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OutFactTables",
					"value": {
						"value": "@activity('Execute Pipeline2').output.content",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"OutDimTables": {
				"type": "Array",
				"defaultValue": []
			},
			"OutFactTables": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"annotations": []
	}
}